<!-- .blog -->
<div id="blog" class="content_2">
<h1 class="h-bloc">Projects</h1><br> 
<h2>Predicting Genus of Hominids Skulls using Hybrid Neural Network </h2><br/>
    <p>Supervisor : Amarjot Singh Jan ’17 - present<br/>
    &bull; Developed a hybrid neural network to identify genus of hominid skulls. The network consist pre-trained layers trained to learn
    edges and middle layers consist of unsupervised RBMs.<br/>
    &bull; Dataset consists of images of hominid’s skull of eleven different hominid species belonging to threedifferent genera.<br/>
    &bull; A deep learning framework first detect 28 key-points on the skull which are then utilized to perform identification.<br/>
        <p/>
<h2>Automation and Wheelchair control for physically disabled people , EngineeringProject in Community Service, Purdue University</h2/><br/>
    <p>Supervisor : Dr. L Anjaneyelu Sep ’14 - Dec ’15<br/>
    &bull; Control of home appliances, doors and wheelchair through Arduino microcontroller, Bluetooth mod-ule, servo and relays.<br/>
    &bull; Aimed at reducing dependency of the target elderly group in their day to day activities.<br/>
  <p/>
 <h3>Cantilever Strain Gauge Weighing Scale</h2/><br/>
    <p>Supervisor : Dr. J. Ravi Kumar  Oct ’15 - Dec ’15<br/>
    &bull; A weighing scale was designed using Strain Gauge attached on a metal scale acting as a cantileverbeam.<br/>
    &bull; The Strain Gauge detects micro strain induced by the weight on metal scale and a user interface designed using Arduino shows the weight of the object.<br/>
    &bull; The device could measure upto 100 grams of weight with a precision of 1 milligram,<br/>
 <p/>
</div>
